

.navBar {
    width: 100vw;
    height: 4.44vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(18, 16, 16, 0.514);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }



  
.hamburger-button .bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: 0.3s;
    border-radius: 10%;
  }
  
.hamburger-button:hover .bar{
    background-color: rgb(158, 136, 136);
  }

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #333;
    color: rgb(192, 20, 20);
    transition: left 0.3s ease; 
    z-index: 1000;
  }
  
  .sidebar.active {
    left: 0; 
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar-content{
    text-decoration: none;
    color: rgb(111, 39, 39);
    padding: 10px 0;
    transition: color 0.3s ease;
  }
  
  .sidebar-content a:hover {
    color: #ff6347;
  }
  
  

  

  
  
